/* styles */
/* called by your view template */

/*
  OFFICIAL_MOM_APP_FILE
  
  
 */

* {
  box-sizing: border-box;
}


.addBtn {
  position:absolute;
  top:2px;
  width:45px;
  height:45px;
  padding:0px;
  margin:0px;
  right:5px;
  box-sizing: border-box;
  
}

.apptLst {
  position:absolute;
  left:0px;
  top:55px;
  background:white;
  overflow-x:hidden;
  overflow-y:auto;
  overflow-scrolling: touch !important;
  -webkit-overflow-scrolling: touch !important;
}

.appLst2 {
  list-style-type:none;
}

.backBtn {
  position:absolute;
  top:3px;
  left:3px;
  width:45px;
  height:45px;
  overflow:hidden;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0px;
  padding:0px;
  background-color:#DD3B6A;
  overflow:hidden;
  position: fixed;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}


button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid #9fa9a3;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  height:40px;
}

button:hover {
  background: silver;
}

button:active {
  box-shadow: none;
}


.callMomBtn {
  width:400px;
  height:50px;
  background:silver;
  border:solid gray 1px;
  border-radius:5px;
  padding:0px;
  overflow:hidden;
}

.callMomBtn2 {
  width:400px;
  height:50px;
  position:relative;
  left:0px;
  top:5px;
  text-decoration:none;
  text-align:center;
  text-height:20pt;
  font-size:20pt;
  padding:0px;
  margin:0px;
  overflow:hidden;
}

#callMomBtnImg {
  position:absolute;
  left:0px;
  top:0px;
  cursor:pointer;
  padding:0px;
  margin:0px'
}

.closeBtn {
  position:absolute;
  top:3px;
  right:5px;
  width:35px;
  height:35px;
  font-size:20pt;
}

#configProblemPanel {
  position:absolute;
  background:lightblue;
  width:600px;
  height:400px;
  display:none;
}


.dateTime {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  border-radius:5px 0px 0px 5px;
  margin-right:0px;
  margin-top:2px;
}

.dateTimeButton {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  border-radius:0px 5px 5px 0px;
  margin-left:0px;
  margin-top:2px;
  box-shadow:none;
  width:30px;
  font-weight:bold;
  height:30px;
  cursor:pointer;
}


.datetimeCtrlCtr {
  position:relative;
  left:0px;
  top:0px;
  height:32px;
}

.dayAway {font-size:16pt;color:blue;}
           	

.dayOfTheWeek {
  color:#0d4b4e;
  background-color:#f8f9b2;
  font-size:18pt;
  padding:4px;
  border-radius:5px;
}


.dialLink {
  font-size:24pt;
  color:#7070db;
}

.dialLink:hover {
  background:lightblue;
  
}

.editTitle {
  position:absolute;
  left:70px;
  top:6px;
  height:45px;
  overflow:hidden;
  font-weight:bold;
  font-size:24pt;
}

.everyWeek {
  font-size:16pt;
}

.everyWeek2 {
  font-size:14pt;
}


.exitEditBtn {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  height:45px;
  padding:0px;
}


.flashMinute {
  background:red;
  border-radius:3px;
  color:white;
}


.flashSecond {
  background:yellow;
  border-radius:3px;
  color:blue;
}


#frmPanel {
  position:absolute;
  left:2px;
  top:60px;
}

#frmMsgs {
  margin-left:10px;
  color:red;
}


h1{
  margin-top:0px;
  margin-bottom:0px;
}

h3{
  margin-top:0px;
  margin-bottom:0px;
}

.hlt { background-color:#ffff66;font-size:18pt;padding-left:4px;border:solid #ffbb33 .25px;
           	       border-radius:4px;}
.hltLater { background-color:#ffeecc;font-size:18pt;padding-left:4px;border:solid #ffbb33 .25px;padding:2px;
      border-radius:4px;}

.greeting {
  width:100%;
  box-sizing: border-box;
  text-align:center;
  height:40px;
  font-size:18pt;
  light-height:18pt;
  padding-top:5px;
  margin:0px;
  overflow:hidden;
  background: -webkit-linear-gradient(to bottom, #e3e0cc, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e3e0cc, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom:solid gray 2px;
}



.hoursAway {font-size:16pt;color:blue;}

#installToHomeScreenInitPrompt {
  display:none;
  position:absolute;
  left:0px;
  z-index:100;
  height:40px;
}

.icon {
  font-size:26pt;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

li {
  margin-bottom: 5px;
}

li.apptDetails { position:relative; top:0px; left: 0px;}
           	

.locStatusLst {
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.locStatusLstItm {
  height:55px;
  line-height:55px; /*  old value:  55px */
  box-sizing: border-box;
  border-bottom:solid gray .5px;
  padding-left:6px;
  cursor:pointer;
}


.locStatusLstItmSel {
  height:55px;
  line-height:55px; /*  old value:  55px */
  box-sizing: border-box;
  border-bottom:solid gray .5px;
  padding-left:6px;
  color:white;
  background:gray;
}


#locStatSetBtns {
  position:absolute;
  left:8px;
}

.logPanelLst {
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.logPanelLstItm {
  height:55px;
  line-height:24px; /*  old value:  55px */
  box-sizing: border-box;
  border-bottom:solid gray .5px;
  padding-left:6px;
}

#logEntryCloseBtn {
  position:absolute;
  left:5px;
  bottom:4px;
}

#lstArea {
  position:absolute;
  overflow-x:hidden;
  overflow-y:scroll;
  border:solid blue 1px;
  background:white;
  margin:0px;
  padding:0px;
  overflow-scrolling: touch !important;
  -webkit-overflow-scrolling: touch !important;
}

.lstCell {
  position:absolute;
  overflow:hidden;
  height:55px;
  line-height:55px;
  font-size:20pt;
  box-sizing: border-box;
  padding:0;
  margin:0;
  color:#003366;

}

/* 
  list header Formatting: 
  container for all the list header column labels.
 */
.lstHdr {
  position:absolute;
  border:solid silver 1px;
  background:silver;
  color:black;
  overflow:hidden;
  height:26px;
  box-sizing: border-box;
}

/* list header Col Formatting: */
.lstHdrCol {
  position:absolute;
  border:solid gray 1px;
  background:silver;
  color:black;
  font-weight:bold;
  overflow:hidden;
  box-sizing: border-box;
  height:22px;
}


.lstRow:hover {
  background: #b3d9ff;
}


.lstRow {
  position:absolute;
  overflow:hidden;
  border-bottom:solid silver 1px;
  height:55px;
  cursor:pointer;
  background: white;
}


#menu {
  display: none;
  position:absolute;
  left:0;
  top:45px;
  border-bottom:solid black 2px;
  background: #9fa9a3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e3e0cc, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e3e0cc, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow-x:hidden;
  overflow-y:scroll;
  overflow-scrolling: touch !important;
  -webkit-overflow-scrolling: touch !important;
}




#menuList {
  list-style-type:none;
  padding:15px;
}


.mnuBtn {
  font-size:20pt;
  height:50px;
  margin-bottom:12px;
  background: #9fa9a3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #9fa9a3, #c5d5c5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #9fa9a3, #c5d5c5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  text-shadow: 0 0 2px #000000, 0 0 2px #0000FF;
}

/* format an input tag for number entry */
.numberInput {
  padding-right:0px;
  text-align:right;
  width:80px;
}

#otherEmergencyOptions {
  display:none;
  z-index:9000;
  top:80px;
  position:absolute;
}

#pageContent {
  background-color: #e0e5ec; /*  Neumorphism background color */
  position:absolute;
  left:0;
  top:46px;
  border:solid #e0e5ec 1px;
  /* overflow-x:hidden;
  overflow-y:auto; */
  display: none;
  /* -webkit-overflow-scrolling: touch !important; */
}




#refreshPage {
  display:none; 
  height:90px;
  z-index:1000;  /*  try to make sure button is always on top */
}


#registerDevicePanel {
  position:absolute;
  left:0px;
  top:0px;
  background:lightblue;
  width:600px;
  height:400px;
  display:none;
  padding:10px;
  border-radius:5px;
  z-index:1000;
}

/* panel to display reminders in */
#reminderPanel {
  position:absolute;
  display:none; 
  left:5px;
  top:5px;
  z-index:1000;
  background:lightblue;
  overflow:hidden;
}



.resetBtn {
  z-index:1000;
  position:absolute;
  color:yellow;
  font-weight:bold;
  background:red;
  left:5px;
  top:0px;
  display:none;
}


.rightNowTitle {
  margin-left:20px;
  font-size:20pt;
  color:green;
}


#setLocStatusVwPrt {
  position:absolute;
  left:4px;
  top:50px;
  border:solid black 1px;
  width:400px;
  height:600px;
  background:white;
  overflow-x:hidden;
  overflow-y:auto;
  overflow-scrolling: touch !important;
  -webkit-overflow-scrolling: touch !important;
}



small {
 /* font-size:7pt; */
}

span.apptDetails { position:absolute; top:0px; left: 100px;}


.specialTask {
  color:#d22a16;
  background-color:#f8f9b2;
  font-size:18pt;
  font-weight:bold;
  padding:4px;
  border-radius:5px;
}

.specialTaskLst {
  list-style-type:none;
}


#spinner {
  position:absolute;
  width:130px;
  height:130px;
}


#splash {
  background:green;
  z-index:100;
}


.textOutline {
  text-shadow:
		-1px -1px 0 #DD3B6A,
		1px -1px 0 #DD3B6A,
		-1px 1px 0 #DD3B6A,
		1px 1px 0 #DD3B6A;
}

#timeDsp {
  position:absolute;
  left:8px;
  height:40px;
  background:black;
  color:lightblue;
  font-weight:bold;
  text-align:center;
  font-size:14pt;
  line-height:40px;
  overflow:hidden;
  border-radius:6px;
}


#tint {
  background:black;
  opacity:.5;
  position:absolute;
  top:0px;
  left:0px;
  z-index:900;
  display:none;
  cursor:default;
}


#titleBar {
  position:absolute;
  left:0px;
  top:0px;
  box-sizing: border-box;
  height:45px;
  width:300px;
  line-height:45px;
  font-weight:bold;
  text-align:center;
  font-size:21pt;
  color:#ffe6ff; /*  ffe6ff */
  /* text-shadow: -1px -1px #660066; */
  background: #9fa9a3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DD3B6A, #FFB6D9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DD3B6A, #FFB6D9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  border-bottom:solid #DD3B6A 2px;
  margin:0;
  padding:0;
  overflow:hidden;
}

/* notice pops up and then fades away! */
#userNotice {
  position:absolute;
  border:solid black 4px;
  border-radius:6px;
  background:white;
  color:black;
  z-index:5000;
  text-align:center;
  line-height:100px;
  font-size:20pt;
  font-weight:bold;
  overflow:hidden;
  opacity:1;
}


.userStatusUserName {
  font-size:15pt;
}

.userStatusUserStatus {
  font-size:15pt;
}

.userStatusTable {
  margin-left:60px;
}

@keyframes userNoticeDoFadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.userNoticeFadeOut{
  animation-name: userNoticeDoFadeOut;
  animation-duration: 4s;
  animation-fill-mode: both;
}




#viewLogEntry {
  position:absolute;
  display:none;
  background:white;
  border:solid black 1px;
  top:20px;
  left:4px;
  overflow-x:hidden;
  overflow-y:auto;
  overflow-scrolling: touch !important;
  -webkit-overflow-scrolling: touch !important;  
  z-index:4000;
}

#viewLogPanel {
  position:absolute;
  display:none;
  background:silver:
  overflow:none;
  left:5px;
  top:5px;  
}

#viewLogPanelLst {
  position:absolute;
  left:5px;
  top:60px;
  background:white;
  border:solid gray 1px;
  overflow-x:hidden;
  overflow-y:scroll;
  overflow-scrolling: touch !important;
  -webkit-overflow-scrolling: touch !important;  
}




.viewTitleBar {
  position:absolute;
  left:0px;
  top:0px;
  box-sizing: border-box;
  height:55px;
  line-height:55px;
  background:orange;
  border-bottom:solid red 2px;
  text-align:center;
  font-size:18pt;
}
